.BlogPost_outer {
  background-color: white;
  padding: 8rem 5rem 0rem 5rem;
  color: #000000;
}
.BlogPost_image {
  width: 100%;
  aspect-ratio: 4/2;
  object-fit:cover;
  height: auto;
}

.BlogPost_smallOuter {
  display: flex;
  width: 30%;
  margin-top: 2rem;
}
.BlogPost_date {
  width: 50%;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 135%;
}
.BlogPost_name {
  width: 50%;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 135%;
}
.BlogPost_heading {
  font-size: 40px;
  font-style: normal;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.BlogPost_text {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 135%;
}
.button9 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  font-family: "LatoRegular";
  line-height: 15px;
  padding: 20px 47px 18px;
  font-size: 20px;
  margin-top: 1.5rem;
  border: 1px solid #006f69;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  z-index: 16;
  background-color: #006f69;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button9 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}
.button9 span:last-child {
  color: #006f69;
  display: block;
  position: absolute;
  width: 100%;
  font-family: "LatoRegular";
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 70%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}
.button9:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  font-family: "LatoRegular";
  color: #000000;
  height: 100%;
  background-color: #ffffff;
  border: none;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}
.button9:hover {
  border: 1px solid #006f69;
}
.button9:hover:after {
  transform-origin: bottom center;
  border: 1px solid #006f69;
  font-family: "LatoRegular";
  transform: skewY(9.3deg) scaleY(2);
}
.button9:hover span:last-child {
  transform: translateX(-50%) translateY(-110%);
  opacity: 1;
  font-family: "LatoRegular";
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
/* -----------------------------------pagination------------------------------- */
.projects_pagination {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 3rem 0;
}

@media (min-width: 1600px) and (max-width: 1920px) {
  .BlogPost_text {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 135%;
  }
}
@media (max-width: 1440px) {
  .BlogPost_smallOuter {
    display: flex;
    width: 40%;
    margin-top: 2rem;
  }
  .BlogPost_outer {
    background-color: white;
    padding: 8rem 10rem 0rem 10rem;
  }
}
@media (max-width: 1199px) {
  .BlogPost_smallOuter {
    display: flex;
    width: 60%;
    margin-top: 2rem;
  }
  .BlogPost_outer {
    background-color: white;
    padding: 8rem 8rem 0rem 8rem;
  }
}
@media (max-width: 1024px) {
  .BlogPost_outer {
    background-color: white;
    padding: 8rem 6rem 0rem 6rem;
  }
  .BlogPost_smallOuter {
    display: flex;
    width: 50%;
    margin-top: 2rem;
  }
}

@media (max-width: 991px) {
  .BlogPost_outer {
    background-color: white;
    padding: 6rem 3rem 0rem 3rem;
  }
}

@media (max-width: 768px) {
  .BlogPost_outer {
    background-color: white;
    padding: 6rem 3rem 0rem 3rem;
  }
  .BlogPost_smallOuter {
    display: flex;
    width: 100%;
    margin-top: 2rem;
  }
  .BlogPost_heading {
    font-size: 23px;
    font-style: normal;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    width: 100%;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
}
@media (max-width: 425px) {
  .BlogPost_smallOuter {
    display: flex;
    width: 100%;
    gap: 3rem;
    margin-left: 0px;
    margin-top: 1.5rem;
  }
  .BlogPost_date {
    width: 50%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
  }
  .BlogPost_outer {
    background-color: white;
    padding: 4rem 3rem 0rem 3rem;
  }
  .BlogPost_name {
    width: 50%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
  }
  .BlogPost_image {
    width: 100%;
    /* height: 30vh; */
    object-fit: fill;
  }
  .BlogPost_heading {
    font-size: 20px;
    font-style: normal;
    margin-bottom: 1.5rem;
    width: 100%;
    margin-top: 1.5rem;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
  .BlogPost_text {
    font-size: 0.875rem;
    line-height: 1.625rem;
    font-style: normal;
    font-weight: 300;
    /* line-height: 135%; */
  }
}
@media (max-width: 375px) {
  .BlogPost_smallOuter {
    display: flex;
    width: 100%;
    gap: 1rem;
    margin-left: 8px;
    margin-top: 1.5rem;
  }
  .BlogPost_date {
    width: 50%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
  }
  .BlogPost_outer {
    background-color: white;
    padding: 4rem 3rem 0rem 3rem;
  }
  .BlogPost_name {
    width: 50%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
  }
  .BlogPost_image {
    width: 100%;
    /* height: 30vh; */
    height: 100%;
    object-fit: fill;
  }
  .BlogPost_heading {
    font-size: 19px;
    font-style: normal;
    margin-bottom: 1.5rem;
    width: 100%;
    margin-top: 1.5rem;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
  .BlogPost_text {
    font-size: 0.875rem;
    line-height: 1.625rem;
    font-style: normal;
    font-weight: 300;
    /* line-height: 135%; */
  }
}
@media (max-width: 320px) {
  .BlogPost_smallOuter {
    display: flex;
    width: 100%;
    gap: 1rem;
    margin-left: 8px;
    margin-top: 1.5rem;
  }
  .BlogPost_date {
    width: 50%;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
  }
  .BlogPost_name {
    width: 50%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
  }
  .BlogPost_image {
    width: 100%;
    /* height: 30vh; */
    height: 100%;
    object-fit: fill;
  }
  .BlogPost_heading {
    font-size: 18px;
    font-style: normal;
    margin-bottom: 1.5rem;
    width: 100%;
    margin-top: 1.5rem;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
  .BlogPost_outer {
    background-color: white;
    padding: 3rem 2rem 0rem 2rem;
  }
  .BlogPost_text {
    font-size: 0.875rem;
    line-height: 1.625rem;
    font-style: normal;
    font-weight: 300;
    /* line-height: 135%; */
  }
}
