.homepage_image_wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 70/35;
}
.logo {
  height: 100%;
  cursor:pointer;
  width: 90%;
}






.homepage_image_wrapper3 {
  position: relative;
  width: 100%;
  aspect-ratio: 70/30;
}
.header_text {
  color: #fff;
  font-size: 71px;
  /* letter-spacing: 9.17px; */
  font-style: normal;
  position: absolute;
  bottom: 17rem;
  left: 6rem;
  font-weight: 300;
  line-height: normal;
  width: 59%;
}

.header_text2{
  color: #fff;
  font-size: 71px;
  /* letter-spacing: 15.17px; */
  font-style: normal;
  width: 78%;
  position: absolute;
  bottom: 22rem;
  left: 5rem;
  
  font-weight: 300;
  line-height: normal;
}
.video_outer {
  position: relative;
  height: 100vh;
  overflow: hidden;
  filter: brightness(85%);
}

.videoBackground {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.video_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.header_name {
  color: #fff;
  font-size: 90px;
  font-style: normal;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  font-weight: 300;
  line-height: normal;
}
.header_comment {
  color: #fff;
  text-align: center;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 27%;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.nav_menu_names {
  color: #006f69;
  font-size: 16px;
  font-style: normal;
  z-index: 1;
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-weight: 500;
  line-height: normal;
}
.btn_outer {
  position: absolute;
  top: 5rem;
  right: 7rem;
}
.nav_button {
  border: 2px solid #006f69;
  border-radius: 22px;
  cursor: pointer;
  position: absolute;
  top: 5.4rem;
  right: 8rem;
  color: #006f69;
  background-color: #ffffff00;
  padding: 12px 28px;
}

@media(min-width:1600px){
  .header_text {
    color: #fff;
    font-size: 71px;
    /* letter-spacing: 9.17px; */
    font-style: normal;
    position: absolute;
    bottom: 23rem;
    left: 6rem;
    /* text-transform: uppercase; */
    font-weight: 300;
    line-height: normal;
    width: 50%;
  }
  
  .header_text2{
    color: #fff;
      font-size: 86px;
      /* letter-spacing: 15.17px; */
      font-style: normal;
      width: 75%;
      position: absolute;
      bottom: 25rem;
      left: 5rem;
      /* text-transform: uppercase; */
      font-weight: 300;
      line-height: normal;
  }
}
@media(max-width:1440px){
  .header_text {
    color: #fff;
    font-size: 40px;
    letter-spacing: 15.17px;
    font-style: normal;
    position: absolute;
    bottom: 40rem;
    left: 5rem;

    font-weight: 300;
    line-height: normal;
    width: 100%;
  }
  
  .header_text2{
    color: #fff;
      font-size: 86px;
      /* letter-spacing: 15.17px; */
      font-style: normal;
      width: 72%;
      position: absolute;
      bottom: 25rem;
      left: 5rem;
      /* text-transform: uppercase; */
      font-weight: 300;
      line-height: normal;
  }
}

@media (max-width: 1199px) {
  .header_name {
    color: #fff;
    font-size: 70px;
    font-style: normal;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    font-weight: 300;
    line-height: normal;
  }
  .header_comment {
    color: #fff;
    text-align: center;
    font-size: 18px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 50%;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

@media (max-width: 991px) {
  .btn_outer {
    position: absolute;
    top: 5.1rem;
    right: 5rem;
  }
  .logo {
    height: 100%;
    cursor:pointer;
    width: 100%;
  }

  .header_text {
    color: #fff;
    font-size: 72px;
    letter-spacing: 4.17px;
    font-style: normal;
    position: absolute;
    bottom: 12rem;
    left: 2rem;
    /* text-transform: uppercase; */
    font-weight: 300;
    line-height: normal;
    width: 72%;
  }


  .header_text2 {
    color: #fff;
    font-size: 44px;
    font-style: normal;
    position: absolute;
    bottom: 4rem;
    left: 2rem;
    font-weight: 300;
    line-height: normal;
    width: 100%
  }

  .video_outer {
    height: 100vh;
  }

  .homepage_image_wrapper3 {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
  }
  .header_name {
    color: #fff;
    font-size: 45px;
    font-style: normal;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    font-weight: 400;
    line-height: normal;
  }

  .header_comment {
    color: #fff;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 53%;

    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .nav_menu_names {
    color: #006f69;
    font-size: 16px;
    font-style: normal;
    z-index: 1;
    width: 14%;
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-weight: 500;
    line-height: normal;
  }
}

@media (max-width: 787px) {
  .homepage_image_wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
  }
  .homepage_third_image_wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
  }
  .logo {
    height: 100%;
    width: 100%;
  }
  .btn_outer {
    position: absolute;
    top: 2rem;
    right: 5rem;
  }

  .nav_menu_names {
    color: #006f69;
    font-size: 16px;
    font-style: normal;
    z-index: 1;
    width: 23%;
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-weight: 500;
    line-height: normal;
  }

  .header_text {
    color: #fff;
    font-size: 35px;
    font-style: normal;
    position: absolute;
    bottom: 5rem;
    left: 2rem;
    font-weight: 300;
    line-height: normal;
    width: 99%;
  }


  .header_text2 {
    color: #fff;
    font-size: 41px;
    font-style: normal;
    position: absolute;
    bottom: 5rem;
    left: 2rem;
    font-weight: 300;
    line-height: normal;
    width: 100%;
  }
  .header_name {
    color: #fff;
    font-size: 33px;
    font-style: normal;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    font-weight: 300;
    line-height: normal;
  }

  .header_comment {
    color: #fff;
    text-align: center;
    font-size: 11px;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 53%;

    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .video_outer {
    height: 100vh;
  }
}

@media (max-width: 575px) {
  .header_text {
    color: #fff;
    font-size: 48px;
   
    font-style: normal;
    position: absolute;
    letter-spacing: 1px;
    bottom: 12rem;
    left: 2.3rem;
    font-weight: 300;
    line-height: 46px;
    width: 47%;
  }

  .header_text2{
    color: #fff;
      font-size: 26px;
      /* letter-spacing: 15.17px; */
      font-style: normal;
      width: 100%;
      position: absolute;
      bottom: 10rem;
      left: 1.3rem;
     
      font-weight: 300;
      line-height: normal;
  }
}
