.blogs_banner_img{
    display: none;
}
.banner_img_desktop{
    display: block;
}
@media screen and (max-width:575px){
    .blogs_banner_img{
        display: block;
    }
    .banner_img_desktop{
        display: none;
    }
}