@media screen and (max-width: 1024px) {
  .canvas_factory_settings {
    margin-left: 0;
    width: 100%;
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  .canvas_factory_settings {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .canvas_factory_settings {
    /* margin-left: -7rem; */
  }
}

@media screen and (max-width: 375px) {
  .canvas_factory_settings {
    /* margin-left: -8rem; */
  }
}

@media screen and (max-width: 320px) {
  .canvas_factory_settings {
    /* margin-left: -15rem; */
  }
}

.main {
  display: flex;
  height: 90vh;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 1041vh;
  margin-top: -534%;
  color: rgb(211, 211, 211);
}

/* .main {
  display: flex;
  height: 90vh;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 410rem;
  margin-top: -1084vh;
  color: rgb(211, 211, 211);
} */

.scroll_text_wrapper {
  position: relative;
}
.scroll_text_header {
  position: absolute;
  color: white;
  font-size: 30px;
  top: -4rem;
  left: 0.2rem;
  font-weight: 300;
}

.body {
  width: 90%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.body p {
  font-size: 3.4vw;
  margin: 0px;
  margin-right: 1.2vw;
  font-weight: 300;
}

.body span {
  opacity: 0.2;
}
.test {
  background-color: #006f69;
}

@media (min-width: 1600px) and (max-width: 1920px) {
  .main {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 550rem;

    /* margin-bottom: 1041vh; */
    margin-top: -1087vh;
    /* margin-top: -534%; */
    color: rgb(211, 211, 211);
  }
}

@media (max-height: 1000px) {
  .main {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 550rem;
    margin-top: -1087vh;
    color: rgb(211, 211, 211);
  }
}


@media (max-height: 800px) {
  .main {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 440rem;
    margin-top: -1084vh;
    color: rgb(211, 211, 211);
  }
}
@media (max-width: 1440px) {
  .main {
    margin-bottom: 430rem;
    /* margin-top: -9800px; */
    margin-top: -1087vh;
  }
}

@media (max-width: 1024px) {
  .main {
    margin-bottom: 430rem;
    /* margin-top: -9800px; */
    margin-top: -1087vh;
  }
}

@media (max-width: 991px) {
  /* .body p {
    font-size: 5.7vw;
    margin: 0px;
    margin-right: 1.5vw;
    font-weight: 300;
  } */

  /* .main {
    display: flex;
    height: 90vh;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 1041vh;
    margin-top: -1014%;
    color: rgb(211, 211, 211);
  } */

  .scroll_text_header {
    position: absolute;
    color: white;
    font-size: 30px;
    top: -3rem;
    left: 0rem;
    font-weight: 300;
  }
  .main {
    margin-bottom: 435rem;
    /* margin-top: -9800px; */
    margin-top: -1087vh;
  }
}


@media (max-width: 820px) {
  .main {
    margin-bottom: 670rem;
    /* margin-top: -9800px; */
    margin-top: -1163vh;
  }
}


@media (max-width: 787px) {
  .body p {
    font-size: 28px;
    margin: 0px;
    margin-right: 1.8vw;
    font-weight: 300;
  }

  .main {
    margin-bottom: 430rem;
    /* margin-top: -9800px; */
    margin-top: -1087vh;
  }

  .scroll_text_header {
    position: absolute;
    color: white;
    font-size: 30px;
    top: -3rem;
    left: 0.3rem;
    font-weight: 300;
  }
}

@media (max-width: 575px) {
  .scroll_text_header {
    position: absolute;
    color: white;
    font-size: 20px;
    top: -2rem;
    left: 0;
    font-weight: 300;
  }

  .main {
    margin-bottom: 425rem;
    /* margin-top: -9800px; */
    margin-top: -1087vh;
  }

  .body p {
    font-size: 22px;
    margin: 0px;
    margin-right: 1.8vw;
    font-weight: 300;
  }
}

@media (max-width: 375px) {
  .main {
    margin-bottom: 422rem;
    /* margin-top: -9800px; */
    margin-top: -1087vh;
  }
}


