.specifications_section {
  position: relative;
}
.specifications_title {
  color: #0f8a83;
  font-size: 120px;
  font-weight: 500;
  padding: 0rem 0.5rem;
}
.specifications_content {
  display: flex;
  justify-content: space-between;
  margin: 1rem 6.8rem;
  padding-bottom: 3.5rem;
}
.specifications_content span {
  color: #c3a464;
  font-size: 18px;
  font-weight: 700;
}
.specifications_content p {
  color: #ffffff;
  font-size: 14px;
  margin-top: 8px;
  font-weight: 700;
}
.specifications_img {
  position: absolute;
  max-width: 100%;
  display: block;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%) !important;
}
.specification_second_Section {
  margin-bottom: 20px;
}
.specifications_content_left {
  width: 25%;
  text-align: right;
}
.specifications_content_right {
  width: 25%;
}
.readmore {
  color: #c3a464 !important;
  transition: all 0.4s;
  cursor: pointer;
}
.readmore:hover {
  color: #fff !important;
}
@media screen and (max-width: 1176px) {
  .specifications_content {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2.5rem;
    padding-bottom: 3.5rem;
  }
  .specifications_title {
    color: #0f8a83;
    font-size: 120px;
    font-weight: 500;
    padding: 2rem 0rem;
  }
 
}
@media screen and (max-width: 991px) {
  .specifications_content {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2.5rem;
    padding-bottom: 3.5rem;
  }
  .specifications_title {
    color: #0f8a83;
    font-size: 120px;
    font-weight: 500;
    padding: 0rem 0rem;
  }
  .specifications_content_left {
    width: 45%;
  }
  .specifications_content_right {
    width: 45%;
  }
  .specifications_img {
    display: none;
  }
}
@media screen and (max-width: 770px) {
  .specifications_content {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2.5rem;
    padding-bottom: 3.5rem;
  }
  .specifications_title {
    color: #0f8a83;
    font-size: 120px;
    font-weight: 500;
    padding: 0rem 0rem;
  }
  .specification_second_Section {
    margin-right: 20px;
    margin-left: 100px;
  }
  .specifications_content span {
    color: #c3a464;
    font-size: 16px;
    font-weight: 700;
  }
  .specifications_content p {
    color: #ffffff;
    font-size: 13px;
    margin-top: 8px;
    font-weight: 700;
  }
  .specifications_content_left {
    width: 47%;
  }
  .specifications_content_right {
    width: 47%;
  }
}
@media screen and (max-width: 550px) {
  .specifications_content {
    display: block;
    justify-content: space-between;
    margin: 1rem 1.7rem;
    padding-bottom: 3.5rem;
  }
  .specifications_content span {
    color: #c3a464;
    font-size: 20px;
    font-weight: 700;
  }
  .specifications_content p {
    color: #ffffff;
    font-size: 18px;
    margin-top: 8px;
    font-weight: 500;
  }
  .specification_second_Section {
    margin-right: 0px;
    margin-left: 0px;
  }
  .specifications_content_left {
    width: 100%;
    text-align: left;
  }
  .specifications_content_right {
    width: 100%;
  }
}
