.specifications_section {
  position: relative;
  height: 95vh;
  overflow: hidden;
}
.specifications_title {
  color: #0f8a83;
  font-size: 120px;
  font-weight: 500;
  padding-bottom: 2rem;
}
.specifications_content {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 553px;
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  margin: 1rem;
  margin-right: 1rem;
  padding-bottom: 3.5rem;
}
.specifications_content span {
  color: #c3a464;
  font-size: 18px;
  font-weight: 700;
}
.specifications_content p {
  color: #ffffff;
  font-size: 14px;
  margin-top: 8px;
  font-weight: 700;
}
.specifications_img {
  position: absolute;
  max-width: 100%;
  display: block;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%) !important;
}
.specifications_img1 {
  position: absolute;
  max-width: 100%;
  display: block;
  bottom: -19px;
  left: 52%;
  transform: translateX(-50%) !important;
}
.specifications_img2 {
  position: absolute;
  max-width: 100%;
  display: block;
  bottom: -19px;
  left: 57%;
  transform: translateX(-50%) !important;
}
.specification_second_Section {
  margin-bottom: 20px;
}
.specifications_content_left {
  width: 36.5%;
  text-align: right;
  padding-bottom: 2rem;
}
.specifications_content::-webkit-scrollbar{
  width: 12px;
  height: 300px;
  margin-left: 10px;
}
.specifications_content::-webkit-scrollbar-thumb{
  display: block;
  overflow-y: scroll;
  background: #b2965b;
  border-radius: 10px;
}
.specifications_content::-webkit-scrollbar-track{
  background-color: rgb(219, 218, 218);
  border-radius: 10px;
  margin-left: 20px;
}
.specifications_content_right {
  width: 35%;
  /* overflow: scroll; */
  height: 90vh;
  padding-bottom: 2rem;
}
.readmore {
  color: #c3a464 !important;
  transition: all 0.4s;
  cursor: pointer;
}
.readmore:hover {
  color: #fff !important;
}
.s{
  width: 100%;
  height: 82vh;
}
@media screen and (min-width: 1500px) {
  .specifications_content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 464px;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    /* margin: 1rem 6.8rem; */
    margin-right: 1rem;
    padding-bottom: 3.5rem;
  }
}
@media screen and (min-width: 1700px) {
  .specifications_content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 553px;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    /* margin: 1rem 6.8rem; */
    margin-right: 1rem;
    padding-bottom: 3.5rem;
  }
}
@media screen and (max-width: 1366px) {
  .specifications_content {
    display: flex;
    justify-content: space-between;
    height: 520px;
    margin: 1rem 2.5rem;
    padding-bottom: 3.5rem;
  }
  .specifications_title {
    font-size: 120px;
    font-weight: 500;
    padding: 2rem 0rem;
  }

  .specifications_section {
    position: relative;
    height: auto;
    overflow: hidden;
  }


  .s{
  width: 80%;
  /* margin: 0 auto; */
  height: 45vh;
  padding-left: 4rem;
  }
 
}


/* 
@media screen and (max-width: 1024px) {
  .specifications_section {
    position: relative;
    height: 86vh;
    overflow: hidden;
  }


  .s{
  width: 80%;

  height: 62vh;
  padding-left: 4rem;
  }
} */



@media screen and (max-width: 991px) {
  .specifications_content {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2.5rem;
    padding-bottom: 3.5rem;
  }
  .specifications_title {
    font-size: 120px;
    font-weight: 500;
    padding: 0rem 0rem;
  }
  .specifications_content_left {
    width: 45%;
  }
  .specifications_content_right {
    width: 45%;
  }
  .specifications_img,  .specifications_img1, .specifications_img2 {
    display: none;
  }
}
@media screen and (max-width: 770px) {
  .specifications_content {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2.5rem;
    height: 81.4vh;
    padding-bottom: 3.5rem;
  }
  .specifications_title {
    font-size: 120px;
    font-weight: 500;
    padding: 0rem 0rem;
  }
  .specification_second_Section {
    margin-right: 20px;
    margin-left: 100px;
  }
  .specifications_content span {
    font-size: 16px;
    font-weight: 700;
  }
  .specifications_content p {
    font-size: 13px;
    margin-top: 8px;
    font-weight: 700;
  }
  .specifications_content_left {
    width: 47%;
  }
  .specifications_content_right {
    width: 47%;
  }
}
@media screen and (max-width: 550px) {
  .specifications_content {
    display: block;
    justify-content: space-between;
    margin: 1rem 1.7rem;
    padding-bottom: 3.5rem;
  }
  .specifications_content span {
    font-size: 20px;
    font-weight: 700;
  }
  .specifications_section{
    height: 100vh;
  }
  .specifications_content p {
    font-size: 18px;
    margin-top: 8px;
    font-weight: 500;
  }
  .specification_second_Section {
    margin-right: 0px;
    margin-left: 0px;
  }
  .specifications_content_left {
    width: 100%;
    text-align: left;
  }
  .specifications_content_right {
    width: 100%;
  }
}
