.contact_form {
  background: #f3f3f3;
  color: #1e1e1e;
}

.contact_form_wrapper {
  display: flex;
  justify-content: center;
}
.Form_content{
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.Form_Container {
  width: 35%;
}

.Image_Container {
  width: 65%;
}

.form_image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact_form_title {
  font-size: 36px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.field label {
  color: #1e1e1e;
  font-size: 18px;
  margin-bottom: 8px;
}

.field input {
  background: #f3f3f3;
  border: none;
  opacity: 0.8;
  border-bottom: 1px solid #d1d1d1;
  height: 40px;
  width: 100%;
  font-family: "LatoRegular";
  font-size: 16px;
}

.field input:focus {
  outline: none;
}                   

.field textarea {
  background: #f3f3f3;
  border: none;
  resize: none;
  opacity: 0.8;
  border-bottom: 1px solid #d1d1d1;
  /* height: 40px; */
  width: 100%;
  font-family: "LatoRegular";
  font-size: 16px;
}
.field textarea:focus {
  outline: none;
} 

.submit_btn {
  border-radius: 25px;
  border: 1.3px solid #fff;
  background: #0f8a83;
  width: 100%;
  font-family: "LatoRegular";
  height: 42px;
  cursor: pointer;
  color: white;
  font-size: 18px;
}

.submit_btn:focus-visible {
  outline: none;
}

.error {
  color: red;
  font-size: 14px;
  margin: 3px 0 0;
}

.common_button_outer2 {
  width: 100%;
  font-family: "LatoRegular";
  margin-top: 1rem;
}
.common_button_outer2 span{
  font-family: "LatoRegular";
}


@media(min-width:1600px) and (max-width:1920px){
  .contact_form_title {
    font-size: 46px;
    margin-bottom: 30px;
  }


  .Form_content{
    /* width: 50%; */
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .field{
    margin-bottom: 25px;
  }

}

@media(min-width:1500px){
  
  .Form_content{
    padding-top: 3rem;
  }
}

@media(max-width:1024px){
  .Form_Container {
    width: 40%;
  }
  
  .Image_Container {
    width: 60%;
  }
  .Form_content{
    padding-left: 4rem;
    padding-right: 4rem;
  }
  
}


@media(max-width:991px){
  .Form_content{
    padding-left: 3rem;
    padding-right: 3rem;
  }
}


@media(max-width:820px){
  .contact_form_wrapper{
    flex-direction: column;
  }
  .Form_Container{
    width: 100%;
  }
  .Image_Container{
    width: 100%;
  }
  .Form_content{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media(max-width:375px){
 .Form_content{
  padding-left: 2rem;
  padding-right: 2rem;
 }
}