.heading {
  color: #c3a464;
  font-size: 68px;
  font-style: normal;
  font-weight: 300;
}

.heading span {
  color: #c3a464;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  margin-right: 0.2rem;
}
.content span {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
}

.content {
  color: white;
  font-size: 22px;
  font-style: normal;
  width: 72%;
  margin-top: 30px;
  font-weight: 300;
  line-height: 132%;
}

.common_button_outer3 {
  width: 280px;
  margin: 0px 0px;
  margin-top: 2rem;
}

.submit_btn1 {
  border-radius: 500px;
  background: #c3a464;
  width: 250px;
  height: 50px;
  border: none;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.responsive_section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 0px 0px 0px 75px;
}

.content1 {
  flex: 1;
  margin: 0px 0px 115px 0px;
}

.image_wrapper {
  flex: 1;
  margin-top: 0;
  margin-bottom: 50px;
}
.image {
  max-width: 100%;
  margin: 0 110px;
}

@media (max-width: 1440px) {
  .content1 {
    flex: 1;
    margin: 0px 0px 115px 0px;
  }

  .image_wrapper {
    flex: 1;
    margin-top: 0px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1199px) {
  .heading {
    font-size: 59px;
  }

  .heading span {
    font-size: 65px;
  }
  .content span {
    font-size: 22px;
  }

  .image {
    max-width: 100%;
    margin: 0;
  }
  .content {
    font-size: 22px;
    width: 72%;
    margin-top: 30px;
  }

  .common_button_outer3 {
    width: 250px;
    margin: 0px 0px;
    margin-top: 20px;
  }

  .submit_btn1 {
    width: 250px;
    height: 50px;
    font-size: 18px;
  }

  .responsive_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 0px 0px 31px;
  }

  .content1 {
    flex: 1;
    margin: 190px 0px 115px 0px;
  }

  .image_wrapper {
    flex: 1;
    margin-top: 185px;
    margin-bottom: 45px;
  }
  .image {
    height: 100%;
    width: revert-layer;
  }
}

@media (max-width: 1024px) {
  .image {
    margin: 0;
  }
}

@media (max-width: 991px) {
  .heading {
    font-size: 35px;
    width: 100%;
  }
  .heading span {
    font-size: 35px;
  }
  .content {
    width: 100%;
    height: 212px;
    font-size: 21px;
  }
  .content span {
    font-size: 22px;
  }
  .submit_btn1 {
    width: 312px;
    font-size: 20px;
    height: 65px;
    margin: -25px 0;
  }
  .image {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .responsive_section {
    display: block;
    height: 100%;
    padding: 0;
    margin-top: 4rem;
  }

  .content {
    width: 100%;
    height: auto;
    font-size: 20px;
  }
  .image {
    height: 100%;
    margin: 0;
  }

  .heading {
    font-size: 36px;
    width: 100%;
  }
  .heading span {
    font-size: 38px;
  }
  .content span {
    font-size: 21px;
    line-height: 145%;
  }
  .submit_btn1 {
    width: 312px;
    font-size: 20px;
    height: 65px;
  }
  .image_wrapper {
    padding: 30px;
    margin-top: 0;
  }
  .content1 {
    flex: 1;
    padding: 0px 30px 0px 30px;
    margin: 0;
  }

  .common_button_outer3 {
    width: 250px;
    margin: 0px 0px;
    margin-top: 2rem;
  }
}
