.ply_spin_outer {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.video_extra {
  text-align: center;
  margin: auto;
  top: 65%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plyspin_text {
  color: white;
  font-weight: 500;
  font-size: 69px;
}

.plyspin_btn_outer {
  margin: auto;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 75%;
}

.video_loop_outer {
  position: relative;
}

@media (min-width: 1600px) and (max-width: 1920px) {
  .plyspin_text {
    font-size: 69px;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .plyspin_text {
    font-size: 69px;
  }

  .ply_spin_outer {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }

  .video_extra {
    text-align: center;
    margin: auto;
    top: 65%;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .plyspin_text {
    font-weight: 500;
    font-size: 55px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .ply_spin_outer {
    height: 70vh;
    width: 100%;
    object-fit: cover;
  }

  .video_extra {
    text-align: center;
    margin: auto;
    top: 65%;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .plyspin_text {
    font-size: 35px;
  }
}

@media (min-width: 200px) and (max-width: 320px) {
  .plyspin_text {
    font-size: 28px;
  }
}
