.first_timeline_outer {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;
  color: white;
  /* background: #006f69; */
}
.first_timeline_inner {
  max-width: 800px;
}

.quality_timeline_usps {
  padding: 38px 20px;
}
.quality_usps {
  margin-left: 12rem;
  color: white;
  font-weight: 300;
  font-size: 60px;
}
.loading_image{
  height: 100%;
  width: 100%;
}

.timeline {
  position: relative;
  min-height: 150px;
  margin-bottom: 15rem;
}
.twoo {
  font-weight: 300;
  letter-spacing: 1px;
}

.section {
  display: flex;
  position: relative;
  z-index: 1;
  width: 133%;
  margin: 0 auto;
  padding: 2.6rem 2rem 7rem;
  border-radius: 1rem;
  align-items: center;
  min-height: 218px;
  color: white;
}

.line {
  position: absolute;
  z-index: 1;
  left: calc(20% - -1px);
  width: 2px;
  top: 100px;
  bottom: 121px;
  border-right: 2px solid #218e88;
}
.bead {
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #0f8a83;
  left: 15.3%;
  z-index: 2;
  top: 21%;
  transform: translateX(-50%);
}

.timeline_number {
  font-size: 20px;
}
.timeline_sec_comment {
  font-size: 19px;
  font-weight: 300;
}

.contentX {
  width: 100%;
  padding: 46px 0px 0px 220px;
  width: calc(100% - 2rem);
  color: #26aca5;
  font-size: 35px;
  opacity: 0.2;
}

@media (max-width: 991px) {
  .contentX {
    width: 100%;
    padding: 19px 0px 0px 174px;
    width: calc(100% - 2rem);
    color: #26aca5;
    font-size: 25px;
    opacity: 0.2;
  }

  .timeline {
    position: relative;
    min-height: 150px;
    margin-bottom: 15rem;
  }
  .twoo {
    font-weight: 400;
    letter-spacing: 1px;
  }

  .section {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 2.6rem 2rem 7rem;
    border-radius: 1rem;
    align-items: center;
    min-height: 218px;
    color: white;
  }

  .line {
    position: absolute;
    z-index: 1;
    left: calc(20% - -1px);
    width: 2px;
    top: 100px;
    bottom: 111px;
    border-right: 2px solid #218e88;
  }
  .bead {
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #0f8a83;
    left: 20.3%;
    z-index: 2;
    top: 20%;
    transform: translateX(-50%);
  }

  .timeline_number {
    font-size: 20px;
  }
  .timeline_sec_comment {
    font-size: 19px;
    font-weight: 300;
  }
}

@media (max-width: 787px) {
  .contentX {
    width: 100%;
    padding: 46px 0px 0px 90px;
    width: calc(0);
    color: #26aca5;
    font-size: 20px;
    opacity: 0.2;
  }

  .timeline {
    position: relative;
    min-height: 150px;
    margin-bottom: 15rem;
  }
  .twoo {
    font-weight: 400;
    letter-spacing: 1px;
  }

  .section {
    display: flex;
    position: relative;
    z-index: 1;
    width: 133%;
    margin: 0 auto;
    padding: 2.6rem 2rem 7rem;
    border-radius: 1rem;
    align-items: center;
    min-height: 218px;
    color: white;
  }

  .line {
    position: absolute;
    z-index: 1;
    left: calc(20% - -1px);
    width: 2px;
    top: 100px;
    bottom: 111px;
    border-right: 2px solid #218e88;
  }
  .bead {
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #0f8a83;
    left: 20.3%;
    z-index: 2;
    top: 20%;
    transform: translateX(-50%);
  }

  .timeline_number {
    font-size: 20px;
  }
  .timeline_sec_comment {
    font-size: 19px;
    font-weight: 300;
  }
}

@media (max-width: 575px) {
  .contentX {
    width: 100%;
    padding: 46px 0px 0px 80px;
    width: calc(0);
    color: #26aca5;
    font-size: 18px;
    opacity: 0.2;
  }

  .timeline {
    position: relative;
    min-height: 150px;
    margin-bottom: 15rem;
  }
  .twoo {
    font-weight: 300;
    letter-spacing: 1px;
  }

  .section {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    width: 100%;
    padding: 2.6rem 2rem 7rem;
    border-radius: 1rem;
    align-items: center;
    min-height: 218px;
    color: white;
  }

  .line {
    position: absolute;
    z-index: 1;
    left: calc(20% - -1px);
    width: 2px;
    top: 100px;
    bottom: 111px;
    border-right: 2px solid #218e88;
  }
  .bead {
      position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #0f8a83;
    left: 20.3%;
    z-index: 2;
    top: 19%;
    transform: translateX(-50%);
  
  }

  .timeline_number {
    font-size: 20px;
  }
  .timeline_sec_comment {
    font-size: 19px;
    font-weight: 300;
  }



  .quality_timeline_usps {
      padding: 38px 20px;
    }
    .quality_usps {
      margin-left: 3rem;
      color: white;
      font-weight: 300;
      font-size: 38px;
    }




}
