.iamouter{
      position: relative;
}
.iamimage{
      position: absolute;
      margin-left: 3rem;
      margin-top: 1rem;
}



@media(max-width: 430px){
      .iamimage{
            object-fit: contain;
            width: 26%;
            height: 87px;
            /* position: absolute; */
            margin-left: 3rem;
      }

      
}



@media(max-width: 425px){
      .iamimage{
            object-fit: contain;
            width: 26%;
            height: 87px;
            /* position: absolute; */
            margin-left: 3rem;
      }

      
}



@media(max-width: 375px){
      .iamimage{
            object-fit: contain;
            width: 26%;
            height: 87px;
            /* position: absolute; */
            margin-left: 3rem;
      }

      
}


@media(max-width: 320px){
      .iamimage{
            object-fit: contain;
            width: 26%;
            height: 87px;
            /* position: absolute; */
            margin-left: 3rem;
      }

      
}