/* styles/emailStyles.module.css */

.emailContainer {
    font-family: Arial, sans-serif;
    max-width: 600px;
    border: 1px dashed black;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .detailsTitle {
    color: #333;
    margin-top: 20px;
  }
  
  .customSection {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .logo {
    max-width: 100px;
    height: auto;
  }
  
  .customMessage {
    color: #666;
  }
  