.whyPlywood {
  padding: 50px 150px;
}
.whyPlywood_heading {
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* margin: 0 0 175px; */
  border-bottom: 1px solid #000;
  width: max-content;
  /* margin: 0 auto 175px; */
  text-transform: uppercase;
}
.whyPlywoodItem_wrap {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  /* margin: 0 -50px; */
}
.whyPlywoodItem {
  width: 50%;
  padding: 0 50px;
  margin: 0 0 110px;
}

.plywood_icon {
  margin: 0 0 20px;
}
.plywood_icon img {
  max-width: 100%;
  display: block;
}
.plywood_content p {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.left {
  width: 50%;
}
.right {
  width: 45%;
}
.right img {
  max-width: 100%;
  display: block;
  /* height: 90vh; */
  object-fit: cover;
  border-radius: 18px;
}
.left ul {
  list-style: none;
  padding: 20px 40px 20px 0;
}
.left ul li {
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 20px;
}
@media (max-width: 1199px) {
  .whyPlywood {
    padding: 50px 100px;
  }
  .left ul li {
    font-size: 21px;
  }
  .whyPlywoodItem_wrap {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: stretch;
    justify-content: space-between;
    /* margin: 0 -50px; */
  }
  .whyPlywood_heading {
    /* margin: 0 auto 110px; */
    font-size: 50px;
  }
  .whyPlywoodItem {
    padding: 0 50px;
    margin: 0 0 70px;
  }
  .right img {
    height: 100%;
  }
}
@media (max-width: 991px) {
  .whyPlywood {
    padding: 50px 60px;
  }
  .whyPlywood_heading {
    /* margin: 0 auto 60px; */
  }
  .whyPlywoodItem_wrap {
    /* margin: 0 -30px; */
  }
  .whyPlywoodItem {
    padding: 0 30px;
    margin: 0 0 40px;
  }
  .left ul {
    padding: 20px 20px 20px 0;
  }
}
@media (max-width: 767px) {
  .whyPlywood {
    padding: 50px 20px;
  }
  .whyPlywood_heading {
    /* margin: 0 auto 40px; */
  }
  .whyPlywoodItem_wrap {
    /* margin: 0 -20px; */
    flex-direction: column-reverse;
  }
  .whyPlywoodItem {
    padding: 0 20px;
    margin: 0 0 30px;
  }
  .left {
    width: 100%;
    padding: 40px 0 0;
  }
  .right {
    width: 100%;
  }
  .right img {
    width: 100%;
    height: auto;
  }
  .left ul {
    padding: 40px 0 0;
  }
  .left ul li {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .whyPlywood {
    padding: 50px 20px;
  }
  .whyPlywood_heading {
    /* margin: 0 auto 40px; */
    font-size: 45px;
  }
  .whyPlywoodItem_wrap {
    margin: 0;
    /* flex-direction: column; */
  }
  .whyPlywoodItem {
    padding: 0;
    margin: 0 0 30px;
    width: 100%;
  }
  .plywood_content p {
    font-size: 18px;
  }
}
@media (max-width: 420px) {
  .whyPlywood_heading {
    font-size: 35px;
  }
  .left ul {
    padding: 30px 0 0;
  }
  .left {
    padding: 30px 0 0;
}
}
