.mom {
  font-size: 7rem;
  padding-top: 2rem;

  margin-left: 1.6rem;
}

@media (max-width: 1260px) {
  .mom {
    font-size: 7rem;
  }
}

@media (max-width: 991px) {
  .mom {
    font-size: 6rem;
    padding-top: 2rem;
    margin-left: 1.6rem;
  }
}

@media (max-width: 787px) {
  .mom {
    font-size: 42px;
    padding-top: 2rem;
    margin-left: 1.6rem;
  }
}

@media (max-width: 575px) {
  .mom {
    font-size: 40px;
    padding-top: 2rem;
    margin-left: 1.6rem;
  }
}

@media (max-width: 320px) {
  .mom {
    font-size: 40px;
    padding-top: 2rem;
    margin-left: 1.6rem;
  }
}
