.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 30px;
  cursor: pointer;
  gap: 40px;
}


@media (max-width: 575px) {
  .footer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 30px;
    cursor: pointer;
    padding: 1rem;
    gap: 40px;
  }
}