
.homepage_third_image_wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 74/35;
}


@media (max-width: 787px) {
  .homepage_third_image_wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
  }
}
