.option_1 {
  width: 300px;
  border-radius: 50%;
}
.option_section {
  display: flex;
  margin-top: 40px;
  gap: 2rem;
  margin-left: 17px;
}
.content_Text {
  color: #006f69;
  font-size: 70px;
  width: 1000px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.map_section1 {
  background: #eaeaea;
  padding: 65px 50px 40px 35px;
}
.select_menu {
  max-width: 280px;
}
.select_menu .select_btn {
  display: flex;
  margin-left: -18px;
  height: 10px;
  background: #fff;
  padding: 18px;
  width: 200px;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  border-radius: 30px;
  border: 2px solid #006f69;
  box-shadow: 39px 35px 28px -20px rgba(0, 0, 0, 0.05);
}
.select_menu .options {
  position: absolute;
  width: 195px;
  overflow-y: auto;
  max-height: 295px;
  padding: 10px;
  text-transform: capitalize;
  margin-top: 10px;
  margin-left: -16px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 39px 35px 28px -20px rgba(0, 0, 0, 0.05);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
}
.select_menu .options .option {
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}
.select_menu .options .option:hover {
  background: #eaeaea;
}
.select_menu .options .option i {
  font-size: 25px;
  margin-right: 12px;
}
.select_menu .options .option .option_text {
  font-size: 16px;
  text-transform: capitalize;
  color: #333;
}
.select_btn i {
  font-size: 25px;
  transition: 0.3s;
}
.select_menu.active .select_btn i {
  transform: rotate(-180deg);
}

.select_menu.active .options {
  display: block;
  opacity: 0;
  z-index: 10;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}
.content_border {
  margin-bottom: 10px;
}
.search_button {
  border-radius: 30px;
  background: #006f69;
  /* font-family: '__Lato_d890f0'; */
  /* font-family: lato; */
  font-family: inherit;
  outline: none;
  border: none;
  box-shadow: 39px 35px 28px -20px rgba(0, 0, 0, 0.05);
  padding: 7px 26px 8px 26px;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.location {
  color: #000;
  font-size: 20px;
  font-style: normal;
  margin-top: 20px;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}
.map_section2 {
  display: flex;
  flex-wrap: wrap;
  background: #c3a464;
  overflow: hidden;
}
.content30 {
  width: 29%;
  margin: 30px;
  height: 657px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}
.content30::-webkit-scrollbar {
  width: 12px;
  height: 680px;
  margin-left: 10px;
}
.content30::-webkit-scrollbar-thumb {
  display: block;
  overflow-y: auto;
  background: #b2965b;
  border-radius: 10px;
}
.content30::-webkit-scrollbar-track {
  background-color: rgb(219, 218, 218);
  border-radius: 10px;
  margin-left: 20px;
}
.content70 {
  flex: 1;
  width: 70%;
}
.content_1 {
  color: #000;
  margin-bottom: 30px;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 139.5%;
}
.map_frame {
  float: left;
  border: none;
}
.address {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.5%;
}
.content {
  display: flex;
  padding-bottom: 10px;
  padding-left: 20px;
}
.use_my_location {
  cursor: pointer;
}
.content_buttons {
  padding: 20px;
}
.content_button {
  background: #006f69;
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
.select_menu ul {
  display: none;
}

.select_menu.active ul {
  display: block;
}
.options {
  display: none;
}
.allsvg {
  padding-right: 10px;
  margin: 4px;
}

@media (min-width: 1600px) and (max-width: 1920px) {
  .content30 {
    width: 23%;
    margin: 30px;
    height: 656px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;

  }
}

@media (max-width: 1199px) {
  .content30 {
    width: 34.5%;
    margin: 30px;
    height: 657px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
  }
  .content_Text {
    color: #006f69;
    font-size: 70px;
    width: 70%;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

@media (max-width: 1024px) {
  .content30 {
    width: 40%;
    margin: 30px;
    height: 657px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
  }
}

@media (max-width: 820px) {
  .content_Text {
    font-size: 63px;
    width: 100%;
    font-weight: 300;
  }
}

@media (max-width: 768px) {
  .map_section2 {
    flex-direction: column;
  }
  .content70 {
    width: 100%;
    order: 1;
  }
  .content30 {
    width: 92%;
    margin: 24px;
    height: auto;
    order: 2;
  }
  .map_frame {
    width: 100%;
  }
  .content_Text {
    font-size: 55px;
  }
  .select_menu .options {
    width: 185px;
  }
}

@media (max-width: 656px) {
  .option_section {
    display: block;
    margin-left: 20px;
  }
  .select_menu {
    padding-bottom: 20px;
  }
  .content_button {
    padding: 3px 30px;
  }
  .search_button {
    margin-left: -14px;
  }
}
@media (max-width: 722px) {
  .select_menu .select_btn {
    width: 160px;
  }
}

@media (max-width: 480px) {
  .content_Text {
    font-size: 70px;
    width: 100%;
    font-weight: 300;
  }
  .map_section2 {
    flex-direction:column-reverse;
    overflow: hidden;
  }
  .map_section1 {
    padding: 20px;
  }
  .select_menu .select_btn {
    margin-left: -30px;
  }
  .content70 {
    width: 100%;
  }
  .content30 {
    width: 86%;
    height: auto;
    margin: 24px;
  }
  .select_menu .options {
    width: 178px;
  }
  .content_Text {
    font-size: 31px;
  }
  .map_frame {
    max-width: 100%;
  }
  .map_frame {
    height: 50vh;
  }
  .select_menu {
    padding-bottom: 20px;
  }
  .content_button {
    padding: 3px 30px;
  }
  .option_section {
    display: block;
    margin-left: 30px;
  }
  .content_buttons {
    padding: 0px;
  }
  .content {
    padding-left: 0px;
  }
  .search_button {
    margin-left: -29px;
  }
}

@media (max-width: 425px) {
  .content_Text {
    font-size: 32px;
  }
  .select_menu .options {
    width: 177px;
  }
  .map_frame {
    height: 50vh;
  }
  .option_section {
    margin-top: 20px;
  }
  .content_1{
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .content_Text {
    font-size: 26px;
  }
  .content_1{
    font-size: 18px;
  }
}

@media (max-width: 325px) {
  .map_section1 {
    padding-left: 20px;
  }
  .content_Text {
    font-size: 22px;
  }
  .search_button {
    margin-left: -25px;
  }
}
