.first_timeline_outer {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  display: flex;
  font-weight: 400;
  color: white;
  /* background: #006f69; */
}
.first_timeline_inner {
  max-width: 800px;
  width: 50%;
}

.timeline_animation_text {
  font-size: 68px;
  margin-left: 4rem;
}

.canvas_side_outer {
  width: 50%;
}

.timeline {
  position: relative;
  min-height: 150px;
  margin-bottom: 15rem;
}
.twoo {
  font-weight: 400;
  font-size: 58px;
  line-height: 130%;
  letter-spacing: 1px;
}

.section {
  display: flex;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 2.6rem 0rem 7rem;
  border-radius: 1rem;
  align-items: center;
  min-height: 218px;
  color: white;
}

.line {
  position: absolute;
  z-index: 1;
  left: calc(20% - -1px);
  width: 2px;
  top: 100px;
  bottom: 335px;
  border-right: 2px solid #218e88;
}
.bead {
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #0f8a83;
  left: 20.3%;
  z-index: 2;
  top: 20%;
  transform: translateX(-50%);
}

.timeline_number {
  font-size: 20px;
}
.timeline_sec_comment {
  font-size: 19px;
  font-weight: 300;
}

.contentX {
  width: 100%;
  padding: 46px 0px 0px 220px;
  width: calc(100% - 2rem);
  color: #26aca5;
  font-size: 35px;
  opacity: 0;
}

@media (min-width: 1600px) {

  .contentX {
    width: 100%;
    padding: 67px 0px 0px 220px;
    width: calc(100% - 2rem);
    color: #26aca5;
    font-size: 35px;
    opacity: 0;
  }
  


  .section {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 2.6rem 0rem 12rem;
    border-radius: 1rem;
    align-items: center;
    min-height: 218px;
    color: white;
  }

  .twoo {
    font-weight: 400;
    font-size: 65px;
    line-height: 130%;
    letter-spacing: 1px;
  }

  .line {
    position: absolute;
    z-index: 1;
    left: calc(20% - -1px);
    width: 2px;
    top: 117px;
    bottom: 442px;
    border-right: 2px solid #218e88;
  }


  .timeline_animation_text {
    font-size: 86px;
    margin-left: 4rem;
  }
}

@media (max-width: 991px) {
  .contentX {
    width: 100%;
    padding: 19px 0px 0px 174px;
    width: calc(100% - 2rem);
    color: #26aca5;
    font-size: 25px;
    opacity: 0;
  }

  .timeline {
    position: relative;
    min-height: 150px;
    margin-bottom: 15rem;
  }
  .twoo {
    font-weight: 400;
    letter-spacing: 1px;
  }

  .section {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 2.6rem 2rem 7rem;
    border-radius: 1rem;
    align-items: center;
    min-height: 218px;
    color: white;
  }

  .line {
    position: absolute;
    z-index: 1;
    left: calc(20% - -1px);
    width: 2px;
    top: 100px;
    bottom: 111px;
    border-right: 2px solid #218e88;
  }
  .bead {
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #0f8a83;
    left: 20.3%;
    z-index: 2;
    top: 20%;
    transform: translateX(-50%);
  }

  .timeline_number {
    font-size: 20px;
  }
  .timeline_sec_comment {
    font-size: 19px;
    font-weight: 300;
  }
}

@media (max-width: 787px) {
  .contentX {
    width: 100%;
    padding: 40px 0px 0px 150px;
    width: calc(0);
    color: #26aca5;
    font-size: 20px;
    opacity: 0;
  }

  .timeline {
    position: relative;
    min-height: 150px;
    margin-bottom: 15rem;
  }
  .twoo {
    font-weight: 400;
    letter-spacing: 1px;
  }

  .section {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 2.6rem 2rem 7rem;
    border-radius: 1rem;
    align-items: center;
    min-height: 218px;
    color: white;
  }

  .line {
    position: absolute;
    z-index: 1;
    left: calc(20% - -1px);
    width: 2px;
    top: 100px;
    bottom: 111px;
    border-right: 2px solid #218e88;
  }
  .bead {
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #0f8a83;
    left: 20.3%;
    z-index: 2;
    top: 27%;
    transform: translateX(-50%);
  }

  .timeline_number {
    font-size: 20px;
  }
  .timeline_sec_comment {
    font-size: 19px;
    font-weight: 300;
  }
}

@media (max-width: 575px) {
  .contentX {
    width: 100%;
    padding: 46px 0px 0px 80px;
    width: calc(0);
    color: #26aca5;
    font-size: 20px;
    opacity: 0;
  }

  .timeline {
    position: relative;
    min-height: 150px;
    margin-bottom: 2rem;
  }
  .twoo {
    font-weight: 400;
    letter-spacing: 1px;
  }

  .section {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 2.6rem 2rem 7rem;
    border-radius: 1rem;
    align-items: center;
    min-height: 218px;
    color: white;
  }

  .line {
    position: absolute;
    z-index: 1;
    left: calc(20% - -1px);
    width: 2px;
    top: 100px;
    bottom: 111px;
    border-right: 2px solid #218e88;
  }
  .bead {
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #0f8a83;
    left: 20.3%;
    z-index: 2;
    top: 20%;
    transform: translateX(-50%);
  }

  .timeline_number {
    font-size: 20px;
  }
  .timeline_sec_comment {
    font-size: 19px;
    font-weight: 300;
  }
}
