.first_timeline_outer {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  display: flex;
  font-weight: 400;
  color: white;
  /* background: #006f69; */
}
.first_timeline_inner {
  max-width: 800px;
  width: 50%;
}

.display {
  display: none;
}

.display1 {
  display: block;
}

.timeline_animation_text {
  font-size: 68px;
  margin-left: 4rem;
}

.canvas_side_outer {
  width: 50%;
}

.timeline {
  position: relative;
  min-height: 150px;
  margin-top: 0;
  margin-bottom: 15rem;
}
.twoo {
  font-weight: 400;
  font-size: 58px;
  line-height: 130%;
  letter-spacing: 1px;
}

/* .sectionX{
  left: 663px !important;
} */

.section {
  display: flex;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 2.6rem 0rem 7rem;
  border-radius: 1rem;
  align-items: center;
  min-height: 218px;
  color: white;
}

.line {
  position: absolute;
  z-index: 1;
  left: calc(20% - -1px);
  width: 2px;
  top: 100px;
  bottom: 335px;
  border-right: 2px solid #218e88;
}
.bead {
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #0f8a83;
  left: 20.3%;
  z-index: 2;
  top: 20%;
  transform: translateX(-50%);
}

.timeline_number {
  font-size: 20px;
}
.timeline_sec_comment {
  font-size: 19px;
  font-weight: 300;
}

.contentX {
  width: 100%;
  padding: 46px 0px 0px 220px;
  width: calc(100% - 2rem);
  color: #26aca5;
  font-size: 35px;
  opacity: 0;
}

@media (min-width: 1600px) {
  .contentX {
    width: 100%;
    padding: 67px 0px 0px 220px;
    width: calc(100% - 2rem);
    color: #26aca5;
    font-size: 35px;
    opacity: 0;
  }

  .display {
    display: none;
  }

  .display1 {
    display: block;
  }

  .timeline {
    position: relative;
    min-height: 150px;
    margin-bottom: 8rem;
    margin-top: 15rem;
  }

  .section {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 2.6rem 0rem 12rem;
    border-radius: 1rem;
    align-items: center;
    min-height: 218px;
    color: white;
  }

  .twoo {
    font-weight: 400;
    font-size: 65px;
    line-height: 130%;
    letter-spacing: 1px;
  }

  .line {
    position: absolute;
    z-index: 1;
    left: calc(20% - -1px);
    width: 2px;
    top: 117px;
    bottom: 442px;
    border-right: 2px solid #218e88;
  }

  .timeline_animation_text {
    font-size: 86px;
    margin-left: 4rem;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .display {
    display: none;
  }

  .display1 {
    display: block;
  }

  .timeline_animation_text {
    font-size: 50px;
    margin-left: 4rem;
  }
  .contentX {
    width: 100%;
    padding: 19px 0px 0px 150px;
    width: calc(100% - 2rem);
    color: #26aca5;
    font-size: 25px;
    opacity: 0;
  }

  .twoo {
    font-weight: 400;
    font-size: 30px;
    line-height: 125%;
    letter-spacing: 1px;
  }

  .line {
    position: absolute;
    z-index: 1;
    left: calc(20% - -1px);
    width: 2px;
    top: 80px;
    bottom: 280px;
    border-right: 2px solid #218e88;
  }

  .section {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 2.6rem 2rem 8rem;
    border-radius: 1rem;
    align-items: center;
    min-height: 218px;
    color: white;
  }

  .timeline {
    position: relative;
    min-height: 150px;
    margin-bottom: 0rem;
    margin-top: 0rem;
  }

  .timeline_sec_comment {
    font-size: 15px;
    font-weight: 300;
  }
}
/* 
@media (max-width: 991px) {
  .contentX {
    width: 100%;
    padding: 19px 0px 0px 174px;
    width: calc(100% - 2rem);
    color: #26aca5;
    font-size: 25px;
    opacity: 0;
  }

  .timeline {
    position: relative;
    min-height: 150px;
    margin-bottom: 15rem;
  }
  .twoo {
    font-weight: 400;
    letter-spacing: 1px;
  }

  .section {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 2.6rem 2rem 7rem;
    border-radius: 1rem;
    align-items: center;
    min-height: 218px;
    color: white;
  }

  .line {
    position: absolute;
    z-index: 1;
    left: calc(20% - -1px);
    width: 2px;
    top: 100px;
    bottom: 111px;
    border-right: 2px solid #218e88;
  }
  .bead {
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #0f8a83;
    left: 20.3%;
    z-index: 2;
    top: 20%;
    transform: translateX(-50%);
  }

  .timeline_number {
    font-size: 20px;
  }
  .timeline_sec_comment {
    font-size: 19px;
    font-weight: 300;
  }
} */

@media (max-width: 991px) {
  .display1 {
    display: none;
  }

  .display {
    display: block;
  }
  .img_main {
    color: transparent;
    /* aspect-ratio: 1/2; */
    height: auto;
    max-width: 100%;
    /* width: 100%;  */
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .first_timeline_inner {
    /* max-width: 800px; */
    width: 70%;
  }
  .line {
    position: absolute;
    z-index: 1;
    left: 65px;
    width: 2px;
    top: 306px;
    bottom: 245px;
    border-right: 2px solid #218e88;
  }
  .bead {
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #0f8a83;
    left: 66px;
    z-index: 2;
    top: 53%;
    transform: translateX(-50%);
  }
  .contentX {
    width: 100%;
    padding: 40px 0px 0px 120px;
    width: calc(0);
    color: #26aca5;
    font-size: 20px;
    opacity: 0;
  }
  .twoo {
    font-weight: 400;
    font-size: 35px;
    line-height: 125%;
    letter-spacing: 1px;
  }
  .timeline_sec_comment {
    font-size: 18px;
    font-weight: 300;
  }
}
@media (max-width: 991px) {
  .time_line__huvvH {
    position: absolute;
    z-index: 1;
    left: 64px;
    width: 2px;
    top: 343px;
    bottom: 275px;
    border-right: 2px solid #218e88;
  }
}

@media (max-width: 768px) {
  /* .display1{
    display: none;
  }

  .display {
    display: block;
  }  */

  .img_main {
    color: transparent;
    height: auto;
    max-width: 100%;
    width: 200px;
  }
  .first_timeline_inner {
    max-width: 800px;
    width: 100%;
  }

  .canvas_side_outer {
    width: 50%;
    display: none;
  }

  .contentX {
    width: 100%;
    padding: 40px 0px 0px 97px;
    width: calc(0);
    color: #26aca5;
    font-size: 20px;
    opacity: 0;
  }

  .timeline {
    position: relative;
    min-height: 150px;
    margin-bottom: 15rem;
  }
  .twoo {
    font-weight: 400;
    letter-spacing: 1px;
  }

  .section {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 2.6rem 2rem 7rem;
    border-radius: 1rem;
    align-items: center;
    min-height: 218px;
    color: white;
  }

  .line {
    position: absolute;
    z-index: 1;
    left: calc(10% - -1px);
    width: 2px;
    top: 306px;
    bottom: 222px;
    border-right: 2px solid #218e88;
  }
  .bead {
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #0f8a83;
    left: 10.3%;
    z-index: 2;
    top: 55%;
    transform: translateX(-50%);
  }

  .timeline_number {
    font-size: 20px;
  }
  .timeline_sec_comment {
    font-size: 19px;
    font-weight: 300;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .contentX {
    width: 100%;
    padding: 46px 0px 0px 47px;
    width: calc(0);
    color: #26aca5;
    font-size: 20px;
    opacity: 0;
  }

  /* .display1{
    display: none;
  }

  .display {
    display: block;
  }  */
  .timeline_animation_text {
    font-size: 45px;
    margin-left: 2rem;
  }
  .timeline {
    position: relative;
    min-height: 150px;
    margin-bottom: 2rem;
  }
  .twoo {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .section {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 2.6rem 2rem 7rem;
    border-radius: 1rem;
    align-items: center;
    min-height: 218px;
    color: white;
  }

  .line {
    position: absolute;
    z-index: 1;
    left: calc(10% - -1px);
    width: 2px;
    top: 310px;
    bottom: 308px;
    border-right: 2px solid #218e88;
  }
  .bead {
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #0f8a83;
    left: 10/5%;
    z-index: 2;
    top: 47%;
    transform: translateX(-50%);
  }

  .timeline_number {
    font-size: 20px;
  }
  .timeline_sec_comment {
    font-size: 18px;
    font-weight: 300;
  }
}

@media (min-width: 200px) and (max-width: 320px) {
  .timeline_animation_text {
    font-size: 36px;
    margin-left: 2rem;
  }

  .timeline_sec_comment {
    font-size: 16px;
    font-weight: 300;
  }
  .twoo {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .display {
    display: block;
  }

  .display1 {
    display: none;
  }

  .line {
    position: absolute;
    z-index: 1;
    left: calc(10% - -1px);
    width: 2px;
    top: 289px;
    bottom: 111px;
    border-right: 2px solid #218e88;
  }
  .bead {
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #0f8a83;
    left: 11%;
    z-index: 2;
    top: 47%;
    transform: translateX(-50%);
  }
}
