.explore_wrapper {
  display: flex;
  justify-content: space-between;
  border-radius: 34px;
  border: 2px solid #c3a464;
}
.explore_outer {
  padding: 100px;

  background-color: white;
}
.explore_side_one_wrapper {
  width: 40%;
  padding: 80px 0px 0px 45px;
}
.explore_heading {
  color: rgb(0, 0, 0);
  font-size: 70px;
  font-weight: 300;
}
.explore_text {
  color: rgb(0, 0, 0);
  font-size: 17px;
}
.explore_button_wrapper {
  margin-top: 2rem;
}
.explore_button {
  padding: 15px 40px;
  display: flex;
  border-radius: 40px;
  align-items: center;
  color: white;
  font-size: 25px;
  background: #006f69;
  border: none;
}
.svg_outer {
  position: relative;
  height: 45px;
  width: 60px;
}
.explore_button_svg {
  position: absolute;
  left: 10px;
  top: -30px;
}

.explore_side_two_wrapper {
  height: 100%;
  width: auto;
}
.explore_image {
height: 100%;
}




@media(min-width:1200px){
  .explore_wrapper {
    display: flex;
    justify-content: space-between;
    border-radius: 34px;
    border: 2px solid #c3a464;
  }
}



@media (max-width: 1199px) {

  .explore_image{
   height: 100%;
   width: 100%;
  }

  .explore_side_two_wrapper {
    height: 100%;
    width: 50%;
  }

  .explore_side_one_wrapper {
    width: 50%;
    padding: 70px 0px 0px 45px;
  }
  .explore_text {
    color: rgb(0, 0, 0);
    font-size: 16px;
    width: 86%;
  }

  

}



@media (max-width: 991px) {

  .explore_outer {
    padding: 20px;
    background-color: white;
  }

  .explore_wrapper {
    display:block;
   
    border-radius: 34px;
    border: 2px solid #ad7c1b;
  }

  .explore_side_one_wrapper {
    width: 100%;
    padding: 20px;
  }

  .explore_heading {
    color: rgb(0, 0, 0);
    font-size: 65px;
    font-weight: 400;
  }

  .explore_image{
    display: none;
  }
}

@media (max-width: 787px) {

  .explore_outer {
    padding: 20px;
    background-color: white;
  }

  .explore_text {
    color: rgb(0, 0, 0);
    font-size: 17px;
    width: 80%;
    margin-top: 1rem;
  }

  .explore_button {
    padding: 15px 40px;
    display: flex;
    border-radius: 40px;
    align-items: center;
    color: white;
    width: 75%;
    font-size: 25px;
    background: #006f69;
    border: none;
  }

  

  .explore_wrapper {
    display:block;
   
    border-radius: 34px;
    border: 2px solid #c3a464;
  }

  .explore_side_one_wrapper {
    width: 100%;
    padding: 23px;
  }

  .explore_heading {
    color: rgb(0, 0, 0);
    font-size: 55px;
    font-weight: 400;
  }

  .explore_image{
    display: none;
  }
  .explore_button_svg {
    position: absolute;
   left: 1rem;
    top: -30px;
  }
}

@media (max-width: 320px){
  .explore_button_svg {
    position: absolute;
   left: 1rem;
    top: -30px;
  }

  .explore_button {
    padding: 15px 40px;
    display: flex;
    border-radius: 40px;
    align-items: center;
    color: white;
    width: 100%;
    font-size: 25px;
    background: #006f69;
    border: none;
  }
  .explore_heading {
    color: rgb(0, 0, 0);
    font-size: 43px;
    font-weight: 400;
  }
}

