.numscroll_section {
      background-color: #006861;
    }
    .numscroll {
      position: fixed;
      top: 50%;
      left: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }


    .percentage_counter_outer{
      width: 50%;
      margin: auto;
      position: relative;
    }

    /* .counter_relm{
      position: relative;
    } */

    .counter_text{
      color: white;
    text-align: center;
    position: absolute;
    top: 23rem;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    left: 20rem;
    }

    .percentageCounter{
      color: white;
      text-align: center;
      position: absolute;
      top: 19rem;
      font-size: 46px;
      font-weight: 300;
      left: 21.7rem;

    }









    .innerCircle {
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.228);
      border: 1px solid rgba(255, 255, 255, 0.508);
      position: relative;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .outerCircle {
      border-radius: 50%;
      top: 50%;
      left: 50%;
      border: 1px solid rgba(255, 255, 255, 0.303);
      position: relative;
      position: absolute;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
    }
    .percentage_tag {
      color: white;
    }
    @media screen and (max-width: 425px) {
      .innerCircle {
        width: 40%;
        height: 40%;
      }
      .outerCircle {
        width: 90%;
        height: 90%;
      }
    }