.numscroll_section {
  background-color: #006861;
}
.numscroll {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.percentage_counter_outer {
  width: 50%;
  margin: auto;
}

.dynamicText {
  position: absolute;
  width: 58%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 32px;
  color: white;
  bottom: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}

.percentageCounter {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 46px;
  font-weight: 300;
  left: 50%;
}

.innerCircle {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.228);
  border: 1px solid rgba(255, 255, 255, 0.508);
  position: relative;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.outerCircle {
  border-radius: 50%;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(255, 255, 255, 0.303);
  position: relative;
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}
.percentage_tag {
  color: white;
}

.canvas_layer_settings {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 1600px) and (max-width: 1920px) {
  .dynamicText {
    /* left: 34%; */
    /* width: 30%; */
    font-size: 32px;
    bottom: 6rem;
  }

  .percentageCounter {
    font-size: 46px;
  }
}

@media screen and (max-width: 1599px) {
  .percentageCounter {
    font-size: 46px;
  }
}

@media screen and (max-width: 1440px) {
  .percentageCounter {
    font-size: 46px;
  }
}
@media (max-width: 1199px) {
  .dynamicText {
    /* left: 34%; */
    /* width: 30%; */
    font-size: 22px;
    bottom: 4rem;
  }
}

@media screen and (max-width: 1024px) {
  .percentageCounter {
    font-size: 46px;
  }
  .dynamicText {
    /* left: 25%; */
    width: 50%;
    font-size: 22px;
    bottom: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .percentageCounter {
    font-size: 46px;
  }
  .dynamicText {
    /* left: 15%; */
    width: 67%;
    font-size: 20px;
    bottom: 4rem;
  }
}

@media screen and (max-width: 430px) {
  .percentageCounter {
    font-size: 46px;
  }
  .dynamicText {
    width: 100%;
    left: 50%;
    font-size: 22px;
    bottom: 3rem;
  }
}

@media screen and (max-width: 425px) {
  .innerCircle {
    width: 40%;
    height: 40%;
  }
  .outerCircle {
    width: 90%;
    height: 90%;
  }

  .percentageCounter {
    font-size: 46px;
  }

  .dynamicText {
    width: 100%;
    /* left: 0; */
    font-size: 18px;
    bottom: 8rem;
  }
}

@media screen and (max-width: 375px) {
  .percentageCounter {
    font-size: 46px;
  }
  .dynamicText {
    width: 78%;
    /* left: 35px; */
    font-size: 18px;
    bottom: 8rem;
  }
}

@media screen and (max-width: 320px) {
  .percentageCounter {
    font-size: 46px;
  }
  .dynamicText {
    width: 90%;
    /* left: 17px; */
    font-size: 18px;
    bottom: 8rem;
  }
}

.video_loop_outer {
  position: relative;
  /* margin-top: -50%; */
  /* margin-bottom: 5rem; */
}

.ply_spin_outer {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.video_extra {
  text-align: center;
  margin: auto;
  top: 65%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plyspin_text {
  color: white;
  font-weight: 300;
  font-size: 66px;
  text-transform: uppercase;
  width: max-content;
}

.plyspin_btn_outer {
  margin: auto;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 75%;
}

.video_loop_outer {
  position: relative;
}

@media (min-width: 1600px) and (max-width: 1920px) {
  .plyspin_text {
    font-size: 66px;
  }

  /* .video_loop_outer {
    position: relative;
    margin-top: -50%;
    margin-bottom: 5rem;
  } */
}

@media (max-width: 1440px) {
  /* .video_loop_outer {
    position: relative;
    margin-top: -55%;
    margin-bottom: 5rem;
  } */
}

@media (max-width: 1024px) {
  /* .video_loop_outer {
    position: relative;
    margin-top: -90% !important;
    margin-bottom: 5rem !important;
  } */
}

@media (min-width: 767px) and (max-width: 1024px) {
  .plyspin_text {
    font-size: 55px;
  }
  .ply_spin_outer {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }

  /* .video_loop_outer {
    position: relative;
    margin-top: -100% !important;
    margin-bottom: 5rem !important;
  } */
}

@media (min-width: 767px) and (max-width: 1024px) {
  .plyspin_text {
    font-size: 69px;
  }



  .video_extra {
    text-align: center;
    margin: auto;
    top: 65%;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .plyspin_text {
    font-size: 55px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 820px) {
  /* .video_loop_outer {
    position: relative;
    margin-top: -117% !important;
    margin-bottom: 5rem !important;
  } */
}
@media (max-width: 767px) {
  .plyspin_text {
    font-size: 42px;
    margin: 0 auto 30px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .ply_spin_outer {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }

  /* .video_loop_outer {
    position: relative;
    margin-top: -197% !important;

    margin-bottom: 3rem !important;
  } */

  .video_extra {
    text-align: center;
    margin: auto;
    top: 65%;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .plyspin_text {
    font-size: 28px;
    margin: 0 auto 0px;
  }
}



@media (min-width: 200px) and (max-width: 320px) {
  .plyspin_text {
    font-size: 22px;
    margin: 0 auto 0px;
  }


  /* .video_loop_outer {
    position: relative;
    margin-top: -50%;
    margin-bottom: 5rem;
  } */
}
