.numscroll_section {
  background-color: #006861;
}
.numscroll {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.percentage_counter_outer {
  width: 50%;
  margin: auto;
  /* position: relative; */
}

/* .counter_relm{
      position: relative;
    } */

.counter_text {
  color: white;
  text-align: center;
  position: absolute;
  top: 56%;
  font-size: 17px;
  font-weight: 400;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  left: 52%;
}

.percentageCounter {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 46px;
  font-weight: 300;
  left: 52%;
}

.innerCircle {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.228);
  border: 1px solid rgba(255, 255, 255, 0.508);
  position: relative;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.outerCircle {
  border-radius: 50%;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(255, 255, 255, 0.303);
  position: relative;
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}
.percentage_tag {
  color: white;
}

.canvas_layer_settings {
}
@media (min-width: 1600px ) and (max-width:1920px) {


  .counter_text {
    color: white;
    text-align: center;
    position: absolute;
    top: 55%;
    font-size: 17px;
    font-weight: 400;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    left: 52%;
  }
  
  .percentageCounter {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 46px;
    font-weight: 300;
    left: 52%;
  }

}




@media screen and (max-width: 1599px) {
  .counter_text {
    color: white;
    text-align: center;
    position: absolute;
    top: 55%;
    font-size: 17px;
    font-weight: 400;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    left: 52%;
  }
  
  .percentageCounter {
    color: white;
    text-align: center;
    position: absolute;
    top: 49%;
    transform: translate(-50%, -50%);
    font-size: 46px;
    font-weight: 300;
    left: 52%;
  }

}

@media screen and (max-width: 1440px) {

  .counter_text {
    color: white;
    text-align: center;
    position: absolute;
    top: 56%;
    font-size: 17px;
    font-weight: 400;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    left: 56%;
  }
  
  .percentageCounter {
    color: white;
    text-align: center;
    position: absolute;
    top: 49%;
    transform: translate(-50%, -50%);
    font-size: 46px;
    font-weight: 300;
    left: 56%;
  }



}


@media screen and (max-width: 1024px) {
  .counter_text {
    color: white;
    text-align: center;
    position: absolute;
    top: 55%;
    font-size: 17px;
    font-weight: 400;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    left: 51%;
  }

  .percentageCounter {
    color: white;
    text-align: center;
    position: absolute;
    top: 49%;
    transform: translate(-50%, -50%);
    font-size: 46px;
    font-weight: 300;
    left: 51%;
  }
}






@media screen and (max-width: 768px) {
  .counter_text {
    color: white;
    text-align: center;
    position: absolute;
    top: 54%;
    font-size: 17px;
    font-weight: 400;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    left: 52%;
  }

  .percentageCounter {
    color: white;
    text-align: center;
    position: absolute;
    top: 49%;
    transform: translate(-50%, -50%);
    font-size: 46px;
    font-weight: 300;
    left: 52%;
  }
}





@media screen and (max-width: 425px) {
  .innerCircle {
    width: 40%;
    height: 40%;
  }
  .outerCircle {
    width: 90%;
    height: 90%;
  }

  .canvas_layer_settings {
    margin-left: -11rem;
  }

  .counter_text {
    color: white;
    text-align: center;
    position: absolute;
    top: 54%;
    font-size: 17px;
    font-weight: 400;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    left: 52%;
  }

  .percentageCounter {
    color: white;
    text-align: center;
    position: absolute;
    top: 49%;
    transform: translate(-50%, -50%);
    font-size: 46px;
    font-weight: 300;
    left: 53%;
  }
}

@media screen and (max-width: 320px) {
  .counter_text {
    color: white;
    text-align: center;
    position: absolute;
    top: 54%;
    font-size: 17px;
    font-weight: 400;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    left: 52%;
  }

  .percentageCounter {
    color: white;
    text-align: center;
    position: absolute;
    top: 49%;
    transform: translate(-50%, -50%);
    font-size: 46px;
    font-weight: 300;
    left: 53%;
  }
}
