.innovation_desk{
    display: block;
}
.innovation_mobile{
    display: none;
}
@media screen and (max-width:574px) {
    .innovation_desk{
        display: none;
    } 
    .innovation_mobile{
        display: block;
    }
}
