.scroll-to-top {
    background-color: transparent !important;
    border-radius: 50% !important;
    border: 1px solid #C3A464 !important;
    right: 26px !important;
    bottom: 45px !important;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    /* filter: drop-shadow(0px 0px 8px black); */
    width: 50px !important;
    height: 50px !important;
    box-shadow: none !important;
    border: none;
}
.svg{
    fill: #C3A464 !important;
    width: 20px !important;
}