.scroll-to-top {
    background-color: transparent !important;
    border-radius: 50% !important;
    border: 1px solid #C3A464 !important;
    right: 45px !important;
    bottom: 45px !important;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: none !important;
    border: none;
}
.svg{
    fill: #C3A464 !important;
    width: 23px !important;
}