.canvas_layer_setting_outer {
  display: none;
}

.canvas_layer_setting {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.factoryWalk_sec {
  position: relative;
}

/* button */

.buttonShowouter {
  margin-bottom: 3rem;
  /* margin-top: 2rem; */
  display: flex;
  justify-content: center;
  position: relative;
}

.buttonShow {
  position: absolute;
  /* left: 46%; */
  overflow: hidden;
  display: inline-block;
  border-radius: 30px;
  line-height: 15px;
  padding: 13px 27px 15px;
  font-family: "LatoRegular";
  font-size: 20px;
  border: 1px solid #c3a464;
  color: #c3a464;
  text-decoration: none;
  cursor: pointer;
  z-index: 20;
  background: transparent;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  top: 25px;
}

.buttonShow span:first-child {
  position: relative;
  font-family: "LatoRegular";
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.buttonShow span:last-child {
  color:#006f69;
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  font-family: "LatoRegular";
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 70%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.buttonShow:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
 
  height: 100%;
  font-family: "LatoRegular";
  background-color: #ffffff;
  border: 1px solid white;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.buttonShow:hover {
  border: 1px solid #ffffff;
}
.buttonShow:hover:after {
  transform-origin: bottom center;
  border: 1px solid #006f69;
  transform: skewY(9.3deg) scaleY(2);
}

.buttonShow:hover span:last-child {
  transform: translateX(-50%) translateY(-110%);
  opacity: 1;
  font-family: "LatoRegular";
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

@media (min-width: 1600px) and (max-width: 1920px) {
  .buttonShowouter {
    margin-bottom: 4rem;
  }
}

@media (max-width: 1024px) {
  .buttonShow {
    position: absolute;
    /* left: 44%; */
    overflow: hidden;
    display: inline-block;
    border-radius: 30px;
    line-height: 15px;
    padding: 13px 27px 15px;
    font-family: "LatoRegular";
    font-size: 20px;
    border: 2px solid #c3a464;
    color: #c3a464;
    text-decoration: none;
    cursor: pointer;
    z-index: 20;
    background: transparent;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
}

@media (max-width: 991px) {
  .canvas_layer_setting_first_outer {
    display: none;
  }

  .canvas_layer_setting_outer {
    display: block;
  }
}

@media (max-width: 768px) {
  .buttonShow {
    position: absolute;
    /* left: 44%; */
    overflow: hidden;
    display: inline-block;
    border-radius: 30px;
    line-height: 15px;
    padding: 13px 27px 15px;
    font-family: "LatoRegular";
    font-size: 20px;
    border: 2px solid #c3a464;
    color: #c3a464;
    text-decoration: none;
    cursor: pointer;
    z-index: 20;
    background: transparent;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
}

@media (max-width: 787px) {
  .canvas_layer_setting_first_outer {
    display: none;
  }

  .canvas_layer_setting_outer {
    display: block;
  }

  .canvas_layer_setting2 {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }
}

@media (max-width: 575px) {
  .buttonShowouter {
    margin-bottom: 0rem;
    /* margin-top: 2rem; */
    display: flex;
    justify-content: center;
    position: relative;
  }

  .buttonShow {
    position: absolute;
    /* left: 35%; */
    overflow: hidden;
    display: inline-block;
    border-radius: 30px;
    line-height: 15px;
    padding: 13px 27px 15px;
    font-family: "LatoRegular";
  }
}

@media (max-width: 320px) {
  .buttonShow {
    position: absolute;
    /* left: 29%; */
    overflow: hidden;
    display: inline-block;
    border-radius: 30px;
    line-height: 15px;
    padding: 13px 27px 15px;
    font-family: "LatoRegular";
  }
}
