.accordion__button:hover {
  background: #006f69;
}
.accordian_header_main {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}


.accordion__item{
  margin-top: 10px;
}
.accordion {
  border: none;
}
.accordian_header_main_text {
  color: #0f8a83;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.accordion__button {
  background: #006f69;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
}
.accordion__button::before {
  float: right;
}

.accordion__button:before {
  color: #51aea9;
}
.main_Accordian_header {
  padding-left: 10rem;
  background-color: white;
  padding-right: 10rem;
  padding-bottom: 6rem;
}
.accordion__panel {
  color: #838383;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  background: #e4e4e4;
}




@media (max-width: 1024px) {
  .main_Accordian_header {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 6rem;
  }
}




@media (max-width: 768px) {

  .main_Accordian_header {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-bottom: 6rem;
  }

  .accordion__button {
    font-size: 17px;
    font-weight: 500;
  }


  .accordian_header_main_text {
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
  }

  .accordian_header_main {
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center;
  }
}


@media(max-width:425px){
  .accordion__button {
    font-size: 15px;
    font-weight: 500;
  }

  .main_accordian_header_text{
    font-size: 15px;
  }
}


@media(max-width:320px){
  .accordian_header_main_text {
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
  }

  .main_accordian_header_text{
    font-size: 15px;
  }
}