
.wrapper {
  display: flex;
  justify-content: space-between;
}
.productOverviewCard {
  width: 50%;
  color: rgb(0, 0, 0);
  background: #D8D8D8;
}

.productOverviewCard h2 {
  text-align: center;
  color: #fff;
  /* font-family: Lato; */
  font-size: 74.688px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 48px 0;
}
.productOverviewCard h2:hover{
  background-color: #026863;
}
.image img {
  max-width: 100%;
  width: 100%;
  display: block;
}


.heading{
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.ixs{
  text-align: center;
}
.contentSec {
  width: 460px;
  margin: 0 auto;
  padding: 73px 20px 73px;
}
.title {
  color: #000000;
  font-size: 37px;
  font-style: normal;
  font-weight: 600;
  line-height: 144.5%;
  margin: 0 0 19px;
}
.content {
  color: #000000;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 158%;
}
.secondConetnt {
  color: #000000;
  padding: 48px 0 0;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 158%;
}
.productOverviewCard:last-child {
  background: #D8D8D8;
  color: black;
}
.productOverviewCard:last-child h2 {
  color: black;
}
 
.productOverviewCard:last-child h2:hover {
  background-color: #bd974b;
}
.productOverviewCard:last-child .title {
  color: black;
}
.productOverviewCard:last-child .content {
  color: black;
  /* border-bottom: 1px solid black; */
}
.productOverviewCard:last-child .secondConetnt {
  color: black;
}



@media (min-width:1600px){
  .contentSec {
    width: 600px;
    margin: 0 auto;
    padding: 73px 0px 73px;

  }
}
@media (max-width: 1199px) {
  .contentSec {
    padding: 65px 20px 65px;
  }
  .productOverviewCard h2 {
    padding: 35px 0;
  }
  .content {
    padding: 0 0 65px;
  }
}


@media (max-width: 1024px) {
  .image img {
    max-width: 100%;
    height: 100%;
    width: 100%;
    display: block;
  }

  .content {
    color: #000000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 158%;
  }


  .content {
    padding: 0 0 0px;
  }
}


@media (max-width: 991px) {
  .contentSec {
    width: 370px;
    padding: 60px 20px 60px;
  }

  .content {
    color: #000000;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 158%;
  }



  .content {
    padding: 0 0 0px;
  }
  .title {
    color: #000000;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 144.5%;
    margin: 0 0 19px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    /* flex-direction: column; */
  }


  .content {
    color: #000000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 158%;
  }
  .productOverviewCard {
    width: 100%;
  }
  .contentSec {
    width: 95%;
    padding: 60px 20px 60px 20px;
  }
}
@media (max-width: 575px) {
  .heading{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .wrapper {
    flex-direction: column;
  }

  .productOverviewCard h2 {
    padding: 15px;
    font-size: 40px;
  
  }


  .image img {
   height: 100%;
    width: 100%;
    display: block;
  }


  .title {
    /* color: #fff; */
    /* font-family: Lato; */
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 144.5%;
    margin: 0 0 19px;
  }

  .contentSec {
    width: 100%;
    padding: 40px 20px 40px 20px;
  }
}