.swiper-thumbs {
  cursor: pointer;
  width: 30%;
  float: right;
  right: 4%;
  top: 84%;
  position: absolute;
}
.another_slider {
  position: absolute !important;
}
@media (max-width: 1024px) {
  .swiper-thumbs {
    cursor: pointer;
    width: 90%;
    height: auto;
    float: none;
    right: 0%;
    top: 84%;
    position: absolute;
    padding-left: 40px;
    padding-right: 40px;
  }
  .another_slider {
    position: static !important;
    margin: 40px 0 0;
  }
}
@media (max-width: 575px) {
  .another_slider {
    margin: 0;
  }
}



