.swiper-button-prev{
      color: white;
      padding-left: 2rem;
  }
  .swiper-button-next{
      color: white;
      padding-right: 2rem;
  }
  @media (max-width:425px)
  {
      .swiper-button-prev{
          padding: 0;
      }
      .swiper-button-next{
          padding: 0;
      }
      .swiper-button-next:after{
          font-size: 30px;
      }
      .swiper-button-prev:after{
          font-size: 30px;
      }
  }