.Main_RT_Section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.Main_RT_Section_main {
  display: flex;
  gap: 2rem;
}
.Main_RT_Section_flex {
  position: relative;
}
.overlay_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay_text_inner {
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.Main_RT_Section_flex::before {
  content: "";
  position: absolute;
  border: 1px solid #fff;
  width: calc(100% - 22px);
  height: calc(100% - 21px);
  margin: 10px;
  z-index: 1;
}
@media (max-width: 768px) {
  .Main_RT_Section_main {
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
