.timeline_outer {
  background-color: white;
  padding-bottom: 20rem;
}

.timeline_heading {
  font-size: 45px;
  margin-bottom: 2rem;
  font-weight: 300;
  padding-top: 9rem;
  color: rgb(0, 0, 0);
  text-align: center;
}

.timeline_main_outer {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;
  color: "white";
}
.timeline {
  position: relative;
  min-height: 150px;
}
.line {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  top: 63px;
  bottom: -90px;
  border-right: 2px solid #0f8a83;
}
.section {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  z-index: 1;
  margin-top: 10rem;
  align-items: center;
  min-height: 290px;
}
.bead_outer {
  display: flex;
  position: absolute;
  justify-content: center;
}

.timeline_comment {
  font-size: 18px;
  width: 80%;
  margin-bottom: 1rem;
}
.two {
  font-weight: 400;
  letter-spacing: 1px;
}

.content {
  color: #000000;
  position: absolute;
  width: 40%;
  top: 158px;
  right: 15px;
  padding-bottom: 5rem;
  opacity: 0;
}

.bead {
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #0f8a83;
  left: 49.1%;
  z-index: 2;
  top: 14%;
}
.timeline_year {
  font-size: 50px;
  color: #000000;
  opacity: 0;
  position: absolute;
  top: 6.6rem;
  left: 35rem;
}




@media (min-width: 1600px) {

  .timeline_year {
    font-size: 50px;
    color: #000000;
    opacity: 0;
    position: absolute;
    top: 6.6rem;
    left: 46rem;
  }
}
@media (max-width: 1440px) {

  .timeline_year {
    font-size: 50px;
    color: #000000;
    opacity: 0;
    position: absolute;
    top: 6.6rem;
    left: 35rem;
  }
}


@media (max-width: 1199px) {
  .timeline_year {
    font-size: 50px;
    color: #000000;
    opacity: 0;
    position: absolute;
    top: 6.7rem;
    left: 24rem;
  }
}







@media (max-width: 991px) {
  .line {
    position: absolute;
    z-index: 1;
    left: 12%;
    transform: translateX(-50%);
    width: 2px;
    top: 63px;
    bottom: -90px;
    border-right: 2px solid #0f8a83;
  }


 

  .timeline_image {
    height: 100%;
   
  }
  .bead_outer {
    left: 96px;
    display: flex;
    position: absolute;
    justify-content: center;
  }

  .content {
    color: #000000;
    position: absolute;
    width: 68%;
    top: 163px;
    right: 10px;
    padding-bottom: 0;
    padding-top: 3rem;
    opacity: 0;
  }

  .timeline_comment {
    font-size: 15px;
    width: 86%;
    margin-bottom: 1rem;
  }

  .timeline_heading {
    font-size: 45px;
    margin-bottom: 0rem;
    font-weight: 300;
    padding-top: 3rem;
    color: rgb(0, 0, 0);
    text-align: center;
  }

  .timeline_year {
    font-size: 40px;
    color: #000000;
    opacity: 0;
    position: absolute;
    top: 8rem;
    left: 15rem;
  }
}





@media (max-width: 767px) {
  .line {
    position: absolute;
    z-index: 1;
    left: 12%;
    transform: translateX(-50%);
    width: 2px;
    top: 63px;
    bottom: -168px;
    border-right: 2px solid #0f8a83;
  }

  .timeline_image {
    height: 100%;
    width: 85%;
  }
  .bead_outer {
    left: 39px;
    display: flex;
    position: absolute;
    justify-content: center;
  }

  .content {
    color: #000000;
    position: absolute;
    width: 68%;
    top: 163px;
    right: 10px;
    padding-bottom: 0;
    padding-top: 3rem;
    opacity: 0;
  }

  .timeline_comment {
    font-size: 15px;
    width: 86%;
    margin-bottom: 1rem;
  }

  .timeline_heading {
    font-size: 45px;
    margin-bottom: 0rem;
    font-weight: 300;
    padding-top: 3rem;
    color: rgb(0, 0, 0);
    text-align: center;
  }

  .timeline_year {
    font-size: 30px;
    color: #000000;
    opacity: 0;
    position: absolute;
    top: 8rem;
    left: 7rem;
  }
}



@media (max-width: 575px) {
  .line {
    position: absolute;
    z-index: 1;
    left: 12%;
    transform: translateX(-50%);
    width: 2px;
    top: 63px;
    bottom: -168px;
    border-right: 2px solid #0f8a83;
  }

  .timeline_image {
    height: 100%;
    width: 85%;
  }
  .bead_outer {
    left: 39px;
    display: flex;
    position: absolute;
    justify-content: center;
  }

  .content {
    color: #000000;
    position: absolute;
    width: 68%;
    top: 163px;
    right: 10px;
    padding-bottom: 0;
    padding-top: 3rem;
    opacity: 0;
  }

  .timeline_comment {
    font-size: 15px;
    width: 86%;
    margin-bottom: 1rem;
  }

  .timeline_heading {
    font-size: 45px;
    margin-bottom: 0rem;
    font-weight: 300;
    padding-top: 3rem;
    color: rgb(0, 0, 0);
    text-align: center;
  }

  .timeline_year {
    font-size: 30px;
    color: #000000;
    opacity: 0;
    position: absolute;
    top: 8rem;
    left: 7rem;
  }

}
